<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/l&r.css">
  <link rel="shortcut icon" href="/imgs/VITALGREEN-SINFONDO.png" type="image/x-icon">
  <link href="windows_15242.ico" type="image/x-icon">
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  <title>Registro</title>

</head>
<body>

  <nav id="navbar">
    <div id="navContent">
        <div id="navleft">
            <img id="logo" src="/images/VITALGREEN-SINFONDO.png" alt="logoimg">
            <h1 id="navtitle">Vital Green - Signup</h1>
        </div>

        <!-- Contenedor para todos los elementos de la derecha -->
        <div class="nav-right-wrapper">
            <!-- Los enlaces que se ocultarán en móvil -->
            <div id="navright">
                <a href="/"><p class="alinks">Home</p></a>
                <a href="/store"><p class="alinks">Tienda</p></a>
                <a href="/login"><p class="alinks">Iniciar Sesión</p></a>
            </div>

            <!-- El botón de hamburguesa -->
            <button id="hamburger-btn" class="hamburger-button" aria-label="Abrir menú">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                </svg>
            </button>
        </div>
    </div>
</nav>

    <div id="notification" style="position: fixed; left: 0px;  right: 0px; top: 5rem;"></div>

  <div class="container" style="justify-content: space-around;">

    <form id="form" >
      <h1 id="formTitle">Registro</h1>
     
      <div id="formdiv">
        <label for="title">Nombre y Apellido</label>
      <input type="name" id="name" class="formInputs" placeholder="Tu nombre">
  
      <p class="information">
        Tiene que seguir el siguiente formato: Mi Nombre
      </p>
  
      <div id="formdiv">
          <label for="title">Correo electrónico</label>
        <input type="email" id="email" class="formInputs" placeholder="E-mail">
  
        <p class="information">
          Tiene que seguir el siguiente formato: myawesomemail@email.com
        </p>
  
      </div>
  
  
  
    </div>
  
     
  
     
  
      <div id="formdiv">
          <label for="title">Número de Teléfono</label>
        <div id="phoneContainer">
         
          <input type="tel" id="phone" class="formInputs" placeholder="Phone Number">
        </div>
        <p class="information">
          Solo numeros son aceptados. Min 6, max 8.
        </p>
      </div>
      
       
        
     
  
      <div id="formdiv">
          <label for="title">Contraseña</label>
        <input type="password" id="password" class="formInputs" placeholder="Password">
        <p class="information">
          Debe incluir un numero y una letra. Min 6, max 24 caracteres.
        </p>
      </div>
  
  
      <div id="formdiv">
          <label for="title">Confirmar Contraseña</label>
        <input type="password" id="confirm-password" class="formInputs" placeholder="Confirm Password">
  
        <p class="information">
          Debe coincidir con la contraseña.
        </p>
      </div>
  
      <p id="aLogIn">Ya tienes una cuenta? <a class="aRef" href="../login/index.html">Inicia sesión</a></p>
  
      <div class="btn-container" style="display: flex; justify-content: center;">
      <button disabled id="form-btn">Submit</button>
  
      </div>
  
      
  
    </form>

    <img id="logoImgLogin" src="/images/VITALGREEN-SINFONDO.png" alt="Logo Vital Green">


  </div>


<script type="module" src="./index.js"></script>
<script type="module" src="../components/notification.js"></script>
<script type="module" src="../components/navbar.js"></script>
</body>
</html>