<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/l&r.css">
  <link rel="shortcut icon" href="/imgs/VITALGREEN-SINFONDO.png" type="image/x-icon">
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  <link href="windows_15242.ico" type="image/x-icon">
  <title>Iniciar Sesion</title>
</head>
<body>



    <nav id="navbar">
        <div id="navContent">
            <div id="navleft">
              <img id="logoImgNav" src="/images/VITALGREEN-SINFONDO.png" alt="Logo Vital Green">
            <h1 id="navtitle">Vital Green </h1>
            </div>    
            <div id="navright">
                <a href="/"><p class="alinks">About</p></a>
                <a href="/store"><p class="alinks">Store</p></a>
                <a href="/login"><p class="alinks">Log In</p></a>             
            </div>
        </div>
    </nav>
    <div id="notification" style="position: fixed; left: 0px;  right: 0px; top: 5rem;"></div>
<div class="container" style=" justify-content: space-evenly;">


  <form id="formLogin" style="align-self: center;">
    <h1 id="formTitle">Inicio de Sesion</h1>
   

    <div id="formdiv">
        <label for="title">Correo electronico</label>
      <input type="email" id="email" class="formInputs" placeholder="E-mail">

      <p class="information">
        Tiene que seguir el siguiente formato: myawesomemail@email.com
      </p>

    </div>
    
     
      
    

    <div id="formdiv">
        <label for="title">Contrasena</label>
      <input type="password" id="password" class="formInputs" placeholder="Password">
      <p class="information">
        Debe incluir al menos un numero y una letra, minimo 6, maximo 16 caracteres.
      </p>
    </div>


    <p id="error-text" class="text-sm text-red-600"></p>

    <div class="btn-container" style="display: flex; justify-content: center;">
    <button disabled id="form-btn">Submit</button>

    </div>

    <p id="aLogIn">Aun no tienes cuenta? <a class="aRef" href="/signup"> Registrate</a></p>

  </form>

  <img id="logoImg" src="/images/VITALGREEN-SINFONDO.png" alt="Logo Vital Green" style="display: flex; align-self: center; margin-top: 0;">

</div>



<script src="./index.js"></script>
<script type="module" src="../components/notification.js"></script>
</body>
</html>